<div class="box">
	<h1 class="title">ウルトラソウル</h1>
	<p class="about-message">「そしてかがや〜くウルトラソウル！ハイ！！！」の
	「ハイ！！！」のタイミングでタッチ！！！
	あなたのウルトラソウル力が試される！！</p>
	<%= link_to "あそぶ", ultrasoul_path, class: "btn btn-default" %>
</div>