<%= link_to "ハイ！", result_path %>
<input type="button" value="スタート" id="start"></input>

<input type="button" value="ajax" id="ajax"></input>

<input type="button" value="get" id="get"></input>

<div id="result"></div>