<div id="sentence">
	<p >準備が整ったら「スタート！」</p>
</div>
<img id="kitajima" src="/assets/ready.jpg">
<div id="ready">
	<input type="button" value="スタート" id="start"></input>
</div>
<div id="again">
	<%= link_to 'やり直す', ultrasoul_path %>
	<%= link_to 'トップに戻る', top_path  %>
</div>